@font-face{
    font-family: fa;
    src: url(./vertopal.com_fa-brands-400.otf);
}
@font-face{
    font-family: intergal;
    src: url(./vertopal.com_IntegralCF-ExtraBold.otf);
}
@font-face{
    font-family: zed;
    src: url(./vertopal.com_BngMUXZYTXPIvIBgJJSb6ufN5qU.otf);
}
@font-face {
    font-family:roboto ;
    src: url(./BngMUXZYTXPIvIBgJJSb6ufN5qU\ \(1\).otf);
}
@font-face {
    font-family: south australia reg ;
    src: url(./SouthAustralia-Regular\ \(1\).otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html,body{
    height: 100%;
    width: 100%;
  
}
#cursor{
    height: 2vh;
    width: 2vh;
    background-color: #CA4140;
    border-radius: 50%;
    position: absolute;
    z-index: 9;
   
    transition: all ease .3s;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;

}
 #cursor h2{
   
    font-size: 1.7vh;
    text-align: center;
    color: #CAB99A;
    font-family: zed;
    font-weight: 100;
    opacity: 0;
    

    
} 
#nav{
    height: 5vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 0 3vw; */
    padding-right: 2vw;
    position: fixed;
    z-index: 99;
    

}
#nav svg{
    height: 2.5vw;
 
    mix-blend-mode: difference;
}
#npart2{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
    gap: 5vh;
}
#npart2 i{
    font-size: 3vh;
    mix-blend-mode: difference;
}
#npart2 .button{

    padding: 1.2vh 3vh;
    background-color: #CA4140;
    border-radius:4vh ;
   font-family: intergal;

    color: white;
   cursor: pointer;
    position: relative;
    overflow: hidden;

}
#npart2 .button h3{
    position: relative;
    z-index: 9;
    font-size: 1.9vh;
}

#npart2 .button .circle{
    height: 100%;
    width: 100%;
    background-color: #CAB99A;
    position: absolute;
    top: 0;
    left: -100%;
    transition: left 0.6s ease;
    border-radius:4vh ;
    opacity: 0;
  
}
#npart2 .button:hover .circle{
    opacity: 1;
      left:0 ;
    
}
#main{
    width: 100%;
    background-color:  rgb(255, 255, 255); 
    

}

#page1{
    height: 100vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
}
#navbar{
    height: 5vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 18vw;
    /* background-color: pink; */
    gap: 7vh;
}
#navbar h2{
    font-family: zed;
    font-size: .8vw;
    font-weight: 100;
    color: rgb(119, 117, 117);
}
#navbar sup{
    color: #CA4140;
}
.row{
    height: 8vw;
    width: 100%;
    /* background-color: rgb(0, 255, 234); */
    border-top: 1px solid white;
    position: relative;
    
  
}

#row1{
    margin-top: 8vw;
}
#row1>h1{
    position: absolute;
    left: -30%;
    cursor: pointer;
}
#row2>h1{
    position: absolute;
    left: -6%;
    cursor: pointer;
}
#row3>h1{
    position: absolute;
    cursor: pointer;
}
.row:hover h1{
    color: #CB413F;
}

.row h1 img {
    /* margin-top: 10px; */
    height: 6vw;
    animation-name: animx;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transition: all ease .1s;
}

@keyframes animx {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateY(-10px);
        rotate: -3deg;
    }

    50% {
        transform: translateY(-10px);
        rotate: 3deg;
    }
}
.row h1{
    font-family: intergal;
    font-size: 6.5vw;
    font-weight: 100;
    white-space: nowrap;
    transition: all ease .5s;
}
.row span{
    color: transparent;
    -webkit-text-stroke: 1px rgb(241, 238, 238);
    transition: all ease .6s;
}
.row img{
    height: 6vw;
    transition: all ease 1s;
}
.row:hover img{
    scale: 1.2;
}
.row h2{
    font-family: south australia reg ;
    color: #CAB99A;
    
    font-size: 2.5vh;
    transition: all ease .5s;

    
   
   

    
}
#row1>h2{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(0,-50%);
    opacity: 0;
    transition: all ease .6s;
    
}

#row2>h2{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(0,-50%);
    opacity: 0;
    transition: all ease .6s;
    
}

#row3>h2{
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translate(0,-50%);
    opacity: 0;
    transition: all ease .6s;
    
}
/* #row3:hover h2{
  left: 13%;
    opacity: 1;
} */
.row:hover span{
    color: #f0eeee;
}
#stext{
    display: flex;
    /* background-color: rebeccapurple; */
    justify-content: center;
    margin-top: 2vh;
}
#stext img{
        height: 4vh;
        padding-right: 5vh;
}
#stext h3{
    font-family: roboto;
    font-weight: 100;
    opacity: .3;
    font-size: 2.7vh;

}
#page1 i{
    display: flex;
    font-size: 2.3vh;
    padding-top: 1.3vh;
    /* background-color: red; */
    padding-left: 5vh;
    
   


}

#page2{
    height: 100vh;
    width: 100%;
    background-color:  rgb(255, 255, 255);
    
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    
   

}
#page2 h2{
    font-family:roboto ;
    font-size: 4vh;
    font-weight: 100;
    color: rgb(181, 179, 179);
    margin-top: 18vh;

  
}
#page2 h2 span{
   color: black;
   font-weight: 600;
    
}
#page2 .btn{

    padding: 1.2vh 3.2vh;
    background-color: #CA4140;
    border-radius:4vh ;
    color: white;
    margin-bottom: 25vh;
    margin-top: 10vh;
    position: relative;
    overflow: hidden;
    cursor: pointer;

}
#page2 .btn h3{
    font-family: intergal;
    position: relative;
    z-index: 9;
    font-weight: 500;
    font-size: 2vh;
}

#page2 .btn .gola{
    height: 100%;
    width: 100%;
    background-color: #CAB99A;
    position: absolute;
    top: 0;
    left: -100%;
    transition: left 0.6s ease;
    border-radius:4vh ;
    opacity: 0;
  
}
#page2 .btn:hover .gola{
    opacity: 1;
      left:0 ;
    
}
/* #page3{
    height: 100vh;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;

  

}
#page3 .line{
    height: 7vh;
    width: 100%;
    border-bottom: 1px solid black;
    position: relative;
    width: 100%;
   
   
}
#page3 .line h1{
    font-size: 10vh;
    font-family: intergal;
    position: absolute;
   
    
 
}
#page3 .line h1 span{
    color: #CA4140;
}
#one,
#three {
    left: 0%;
}

#two,
#four {
    right: 0%;
}
#page3 h2{
    font-family: south australia reg ;
    color: #CAB99A;
    background-color: red;
    padding-left: 63vw;
    font-size: 4.5vh;
} */
#page3 {
    min-height: 100vh;
    width: 100%;
    background-color:  rgb(255, 255, 255);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transform: all ease .4s;
}

#page3 .line {
    height: 7vw;
    width: 100%;
    /* background-color: rgb(0, 0, 0); */
    position: relative;
}

#page3 .line h1 {
    position: absolute;
    font-size: 6.5vw;
    font-family: intergal;
    line-height: 60px;
    color: white;
    mix-blend-mode: difference;
   
}

#page3 .line h1 span {
                        
    color: #CA4140;
   
    
}

#one,
#three {
    left: 0%;
}

#two,
#four {
    right: 0%;
}

#five {
    font-weight: 100;
    font-size: 1.5vw;
    font-family: south australia reg ;
    color: #CAB99A;
    position: fixed;
    right: 20%;
}
#page4{
    height: 130vh;
    width: 100%;
    background-color: #222222;
    display: flex;
    
   
    justify-content: center;
    position: relative;
}
#center{
    width:80%;
    height: 100%;

   
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    position: relative;
    
}
#page4 h3{
    
    z-index: 9;
    font-size: 14vh;
    line-height: 14vh;
    position: absolute;
    font-family: intergal;
    -webkit-text-stroke: white 2px;
    color:transparent;
    transform: translate(-50%,30%);
    top: 0;
    left: 0;
   
    overflow: hidden;
    transition: all ease .3s;
    pointer-events: none;
    opacity: 0;
}

#left{
    height: 100%;
    width: 40%;
    /* background-color: beige; */
}
#left-top{
    height: 35%;
    
    width: 100%;
    color: white;
}
#left-top h1{
    font-size: 5vh;
    font-family:intergal;
    line-height: 5vh;
}
#left-top img{
    margin-top: 8vh;
   rotate: 40deg;
   
    height: 4vh;
    margin-left: 15vh;
}
#left-top h2{
    font-family: south australia reg ;
    color: #CAB99A;
    font-size: 2.3vh;
    line-height:5vh;
    padding-left:35vh;
    font-weight: 100;
    rotate: -10deg;
}
#left-bottom{
    height: 65%;
 
    width: 100%;
    position: relative;
    cursor: none;
    
  
    
}
#left-bottom img{
    height: 100%;
    width: 100%;
    object-fit: cover;

}
#textbtn {
    width: 100%;
    position: absolute;
    z-index: 9;
  opacity: 0;
    margin-bottom: 10vh;
  top: 88%;
  transition: all ease .5s;
}
#textbtn h4{
    font-size: 2vh;
    display: inline;
    color: white;
    border: 2px solid white;
    padding: .6vh 2vh;
    border-radius: 15px ;
    font-family: intergal;
    font-weight: 500;
    
  

}
#right{
    height: 100%;
    width: 40%;
    /* background-color:lavenderblush; */
}
#right-top{
    height: 65%;
    cursor: none;
    position: relative;
   
    
    width: 100%;
 

}
#right-top img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#textbtn2 {
    width: 100%;
    position: absolute;
    z-index: 9;
  opacity: 0;
    margin-bottom: 10vh;
  top: 88%;
  transition: all ease .5s;
}
#textbtn2 h4{
    font-size: 2vh;
    display: inline;
    color: white;
    border: 2px solid white;
    padding: .6vh 2vh;
    border-radius: 15px ;
    font-family: intergal;
    font-weight: 500;
    
  

}
#right-bottom{
    height: 35%;
 
    width: 100%;
    color: white;
    text-align: end;
    padding-top: 23vh;

}
#right-bottom h1{
    font-size: 5vh;
    font-family:intergal;
    line-height: 5vh;
   
    

}
#right-bottom img{
   
    height: 4vh;
    rotate: 170deg;
    margin-top: 5vh;
    margin-right: 35vh;
    
}

#page5{
    height:100vh;
    width: 100%;
    background-color: #222222;
    color: white;
    padding-top: 16vh;
    position: relative;
    
    
} 
#box1{
   
   
    height: 12vw;
    width: 18vw;
    /* background-color: rgb(162, 39, 39); */
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid white;
    overflow: hidden;
    transition: all ease .3s;
    pointer-events: none;
    opacity: 0;
    animation-name: animx;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
   
  
}
 #box1 video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#box2{
   
   
    height: 12vw;
    width: 18vw;
    background-color: rgb(137, 131, 131);
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid white;
    overflow: hidden;
    transition: all ease .3s;
    pointer-events: none;
    opacity: 0;
    animation-name: animx;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
   
  
}
#box2 video{
    height: 100%;
    width: 100%;
    object-fit: cover;
   
  
}
#box3{
   
    height: 12vw;
    width: 18vw;
    background-color: rgb(196, 142, 142);
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid white;
    overflow: hidden;
    transition: all ease .3s;
    pointer-events: none;
    opacity: 0;
    animation-name: animx;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
   
  
}
#box3 video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.scroller{
    height: 22vh;
   
    white-space: nowrap;
    overflow-y: auto;
    overflow-x: hidden;
    /* background-color: red; */
  
    display: flex;
    cursor: pointer;
    transition: all ease 1s ;

    

}
.scroller h1{
/* background-color: green; */
    display: inline;
    font-size: 14.3vh;
    font-family: intergal;
    -webkit-text-stroke: rgb(255, 254, 254) 1px;
    opacity: .8;
    mix-blend-mode: difference;
    color: transparent;
    margin-right: 40px;
    animation-name: anim;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-timing-function: linear;
    transition: all ease 1s ;
   
    opacity: 1;

}

.scroller h1 sup{
    font-size: 7vh;
    color: white;
    
}
.scroller:hover h1{
    color: white;
    animation-duration: 10s;

}

#scr2 h1{
    
    animation-direction:reverse;
    animation-duration: 2s;
}
#scr2:hover h1{
    color: white;
    animation-duration: 10s;


}
@keyframes anim {
    0%{
        transform: translate(0);
    }
    100%{
        transform: translateX(calc(-100% - 44px));
    }    
}


#page6{
    height: 100vh;
    width: 100%;
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#page6 #img{
    height: 70%;
    width: 80%;
   
    position: relative;
    cursor: none;
}
#page6 #img img{
    height: 33vh;
    width: 17vw;
    position: absolute;
}
#img #img1{
    z-index: 9;
    top: 20%;

}
#img #img2{
    z-index: 7;
    top: 28%;
    left:16%;
    rotate: 15deg;

}
#img #img3{
    z-index: 8;
  
    left:20%;
    rotate: 10deg;

}
#img #img4{
    z-index: 9;
   top: 28%;
    left:37%;
    rotate: 10deg;

}
#img #img5{
    z-index: 6;
   top: 6%;
    left:43%;
   

}
#img #img6{
    z-index: 8;
   top: 33%;
    left:59%;
    rotate: 20deg;
   

}
#img #img7{
    z-index: 7;
   top: 20%;
    left:66%;
    rotate: -10deg;
   

}
#img #img8{
    z-index: 6;
     left:77%;
     rotate: -5deg;
  
   

}
#page6 #img h1{
 
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 99;
    font-family: intergal;
    -webkit-text-stroke: 2px white;
    color: white;
    font-size: 11vh;
    
    
    
}
#page6 #img h1 span{
    color: transparent;
}

#page7{
    height: 70vh;
    width: 100%;
    background-color: white;
    position: relative;
}
.elem{
    height: 16vh;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
 
    align-items: center;
    position: relative;
   
}
.elem h1{
    font-size: 15vh;
    font-family: intergal;
   

}
.elem h1 span{
    -webkit-text-stroke: 1px black;
    color: transparent;
}
.elem img{
    height: 7vw;
    animation-name: animx;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transition: all ease .1s;   
}
#elem1>h1{
    position: absolute;
    left: -28%;
}
#elem2>h1{
    position: absolute;
    right: -45%;
}
#box{
    height: 40vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    gap: 5vh;
  
}
#box img{
    height: 7vw;
}
#small-text{
    height: 100%;
    width: 55%;
    /* background-color: greenyellow   ; */
}
#small-text #top{
    height: 30%;
    width: 100%;
    /* background-color: pink; */
    display: flex;
    padding-left: 17vh;
}
#small-text #top h1{
   
    font-family:roboto ;
    font-weight: 100;
   
    color: gray;
    padding-top: 3vh;
 

}
#small-text #top h1 span{
    color:#CA4140;
    text-decoration:underline;
    cursor: pointer;


}
#small-text #top svg{
    rotate: 30deg;
    padding-right: 2vh;
    height: 7vh;
 
}
#small-text #lower{
    height: 70%;
    width: 70%;
    /* background-color: rebeccapurple; */
   
    margin-left: 23vh;
    padding-top: 8vh;
    
 
    
    
   
}
#small-text #lower h3{
    display: inline-block;
   padding-left: 10vh;
    font-family:roboto ;
    text-align: center;
   padding-top: 1vh;
   color: gray;
   font-weight: 100;
   cursor: pointer;
   transition: all ease .5s;

}

#small-text #lower h3:hover{
    color:#CA4140;
}
#box img{
    height: 10vw;
    animation-name: animx;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transition: all ease .1s;   
}
#box #dog{
   
    margin-top: 12vh;

   
}
#page7 #haddi{
    height: 7vw;
    position: absolute;
    z-index: 9;
    top: 0;
    right: 0;
    opacity: 0;
 
   
}

#lastline{
    height: 7vh;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vh;
}
#lastline h6{
    font-size: 1.8vh;
    font-family:roboto ;
    font-weight: 100;
    color: rgb(201, 198, 198);

}



